body{
	font-family: times, andale mono, meiryo;
}

hr{
	margin-top: 30px;
	margin-bottom: 30px;
	border: 0;
	border-top: 1px solid #eee;
}

div#container{
	width: 500px;
	margin: 0 auto;
	min-height: 700px;
}

input.cell{
	height: 35px;
	width: 35px;
	font-size: 24px;
	border: none;
	text-align: center;
	vertical-align: middle;
	margin: -2px;
	border-left: solid 1px #333;
	border-top: solid 1px #333;
	border-collapse: collapse;
}

table.table{
	position: absolute;
	border-radius: 4px;
	border: solid 2px #333;
	border-left: solid 1px #333;
	border-top: solid 1px #333;
	background-color: #333;
	margin: 15px 50px;
}

.buttons{
	margin: 5px;
	background-color: #fff;
	border: solid 1.3px #666;
	border-radius: 2px;
	padding: 4px 8px;
	font-family: meiryo, arial, times;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
	color: #333;
}

.submit{
	margin-left: 50px;
	background-color: #333;
	color: #fff;
}

.clear{
	margin-left: 10px;
}

table.shadow{
	-webkit-transform: translate(-75px) skew(135deg) scale(1, -0.4);
	-moz-transform: translate(-75px) skew(135deg) scale(1, -0.4);
	-o-transform: translate(-75px) skew(135deg) scale(1, -0.4);
	-ms-transform: translate(-75px) skew(135deg) scale(1, -0.4);
	opacity: 0.4;
	top: 356px;
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	-o-filter: grayscale(50%);
	-ms-filter: grayscale(50%);
}

.copyright{
	text-align: center;
	color: rgb(151, 175, 195);
	margin-bottom: 40px;
	font-size: 14px;
	font-family: Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', courier new, 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif, Helvetica;
}