.jacob{
	width: 200px;
	max-width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: red;
	position: absolute;
	top: 30%;
	left: 30%;
}
.jacob2{
	width: 200px;
	max-width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: red;
	position: absolute;
	top: 30%;
	left: 30%;
}
.jacob3{
	width: 200px;
	max-width: 200px;
	height: 200px;
	border-radius: 100px;
	background-color: red;
	position: absolute;
	top: 30%;
	left: 30%;
}